.App {
  text-align: center;
}

.response-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.response {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: skyblue;
  margin: 0 10px;
}

.response p {
  margin: 0;
}

button {
  margin-top: 10px;
}
